@charset "UFT-8";

@mixin background {
  background-image: url(../image/wakuzawa-gr.png);
  background-size: 49%;
  background-repeat: no-repeat;
  background-position: top 76vh left 47.5vw;
  background-attachment: fixed;
}
$font-color: gray;
$border-set: 1px solid gray;
@mixin side-space {
  margin-left: 5vw;
  margin-right: 5vw;
}

/* 共通部分 */
html {
  font-size: 1.3vh;
  body {
    font-family: "游ゴシック体", "游ゴシック Medium", "Yu Gothic Medium",
      "游ゴシック", "Yu Gothic", sans-serif, "メイリオ", "Meiryo";
    line-height: 1.7;
    text-align: left;
    color: #000;
    & * {
      box-sizing: border-box; /*padding,borderはwidthに含む*/
    }

    & * a {
      text-decoration: none; /*下線引かない*/
      display: block; /*ブロック要素に*/
      color: #000;
    }
    img {
      max-width: 100%; /*画像がはみ出さないように*/
    }

    ul {
      list-style-type: none; /*listに-bl点つけない*/
    }

    display: flex;

    header {
      height: 92vh;
      width: 18vw;
      padding: 5vh 0.5vw 0 2vw;
      border-color: #fff;
      position: fixed;
      top: 0;
      left: 0;
      border-right: 1px solid gray;
      z-index: 9;

      .wakuzawa-logo {
        margin-bottom: 3.7vh;
        padding-left: 0.5vw;
        width: 13vw;
      }

      /*いじってはいけないボタン*/
      .btn {
        margin: 1vh 1vw 0 0;
        height: 5vmin;
        width: 100%;
        display: block;
        overflow: hidden;
        cursor: pointer;
        a {
          width: 100%;
          height: 5vmin;
          position: relative;
          .white {
            background: #000;
            text-align: right;
            height: 4.8vmin;
            padding: 0.6vh 0.5vw;
            width: 98%;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            display: block;
            -webkit-transition: 0.4s ease-in-out;
            transition: 0.4s ease-in-out;
            img {
              height: 3.6vmin;
            }
          }
          .black {
            background-color: #fff;
            text-align: left;
            height: 5vmin;
            padding: 0.7vh 0.5vw;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            display: block;
            -webkit-transition: 0.4s ease-in-out;
            transition: 0.4s ease-in-out;
            img {
              height: 3.6vmin;
            }
          }
        } //a
      } //btn
      .btn:hover div:nth-of-type(2) {
        left: 100%;
        opacity: 0;
        border: none;
      }
      /*いじってはいけないボタン*/
    } //header

    main {
      .top-box {
        height: 7vh;
        width: 79vw;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 17vw;
        z-index: 100;
        .smf-logo {
          display: none;
        }
      } //top-box

      .main-contents {
        margin: 0 auto 0 20vw;
        padding: 0 0 20vh 0;
        width: 78vw;
        position: relative;
        @include background;

        .home-logo {
          display: none;
        }

        .concept-title {
          margin: 0 auto 18vh 0;
          padding-top: 10vh;
          font-size: 5.5vw;
          line-height: 7vw;
          font-family: sans-serif;
          span {
            color: #707070;
            font-family: "游ゴシック体", "游ゴシック Medium", "Yu Gothic Medium",
              "游ゴシック", "Yu Gothic", sans-serif, "メイリオ", "Meiryo";
          }
        }

        .concept-detail {
          padding-bottom: 8vh;
          margin: 0 4vw 8vh 0;
          font-size: 1.8vw;
          line-height: 2.5vw;
          color: $font-color;
        }
        .line-space {
          margin: 0 4vw 0 0;
          width: 76vw;
          height: 5vh;
          border-bottom: $border-set;
        }

        @mixin servuce-box {
          width: 25vw;
          height: 25vw;
          opacity: 0.8;
        }
        @mixin service-title {
          padding: 3vw 1vw 0.3vw 4vw;
          font-size: 3vw;
          font-weight: bold;
        }
        @mixin service-middle {
          padding: 0 1vw 0 4vw;
          font-size: 1.5vw;
          font-weight: bold;
        }
        @mixin service-detail {
          padding: 0 1vw 1vw 4vw;
          font-size: 2px;
          font-weight: bold;
        }

        .service {
          margin-right: 4vw;
          width: 76vw;
          height: 44vw;
          border-bottom: 1px solid gray;
          .service-top {
            display: none;
          }
          .produce-box {
            @include servuce-box;
            background-color: #555;
            position: relative;
            top: 6vw;
            left: 44vw;
            .produce-title {
              @include service-title;
              color: #fff;
            }
            .produce-middle {
              @include service-middle;
              color: #fff;
            }
            .produce-detail {
              @include service-detail;
              color: #fff;
            }
          } //produce-box
          .design-box {
            @include servuce-box;
            background-color: #939393;
            position: relative;
            top: -14vw;
            left: 22vw;

            .design-title {
              @include service-title;
              color: #fff;
            }
            .design-middle {
              @include service-middle;
              color: #fff;
            }

            .design-detail {
              @include service-detail;
              color: #fff;
            }
          } //design-box
          .planning-box {
            @include servuce-box;
            background-color: #ededed;
            position: relative;
            top: -34vw;
            left: 0;

            .planning-title {
              @include service-title;
              font-weight: 900;
            }
            .planning-middle {
              @include service-middle;
              font-weight: 900;
            }
            .planning-detail {
              @include service-detail;
              font-weight: 900;
            }
          } //planning-box
        } //service

        .header-space {
          height: 7vh;
        }

        .package-message {
          margin: 0 2vw 8vh auto;
          padding: 0 0 0 7vw;
          width: 66vw;
          height: 5vw;
          line-height: 5vw;
          background: #000;
          color: #fff;
          font-size: 4vw;
          font-weight: bold;
          span {
            font-size: 2.5vw;
            margin-left: 2vw;
          }
        }

        .package-top {
          display: none;
        }

        @mixin commodity-container {
          width: 76vw;
          height: 18.5vw;
          margin-bottom: 20vh;
          display: flex;
          justify-content: space-between;
        }
        @mixin commodity-title {
          margin-bottom: 0.5vw;
          font-size: 3.3vw;
          font-weight: bold;
        }
        @mixin commodity-middle {
          margin-bottom: 0.5vw;
          font-size: 1.5vw;
          font-weight: bold;
        }
        @mixin commodity-bottom {
          font-size: 1.2vw;
          color: $font-color;
        }
        @mixin commodity-link {
          width: 25vw;
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 2.3vw;
          font-weight: bold;
          text-align: right;
          border-bottom: 1px solid #707070;
        }

        .menur-container {
          /*menuR---------------------------------------*/
          @include commodity-container;
          flex-direction: row-reverse; /*写真が右*/
          .menur-message {
            width: 44vw;
            height: 18.5vw;
            position: relative;
            .menur-title {
              @include commodity-title;
            }
            .menur-middle {
              @include commodity-middle;
            }
            .menur-bottom {
              @include commodity-bottom;
            }
            .menur-link {
              @include commodity-link;
            }
          } //menur-message

          img {
            width: 28vw;
            height: 18.5vw;
            z-index: 2;
          }
        } //menur-container

        .dressr-container {
          /*dressR-----------------------------------------*/
          @include commodity-container;
          img {
            width: 32.6vw;
            height: 18.5vw;
            z-index: 2;
          }

          .dressr-message {
            width: 39.4vw;
            height: 18.5vw;
            position: relative;
            .dressr-title {
              @include commodity-title;
            }
            .dressr-middle {
              @include commodity-middle;
            }
            .dressr-bottom {
              @include commodity-bottom;
            }
            .dressr-link {
              @include commodity-link;
            }
          } //dressr-message
        } //dressr-container

        .catalogue-container {
          /*catalogue----------------------------------------------*/
          @include commodity-container;
          flex-direction: row-reverse; /*写真が右*/
          .catalogue-message {
            width: 39vw;
            height: 18.5vw;
            position: relative;
            .catalogue-title {
              @include commodity-title;
            }
            .catalogue-middle {
              @include commodity-middle;
            }
            .catalogue-bottom {
              @include commodity-bottom;
            }
            .catalogue-link {
              @include commodity-link;
            }
          } //catalogue-message

          img {
            width: 33vw;
            height: 18.5vw;
            z-index: 2;
          }
        } //catalogue-container

        .line-space {
          margin-right: 4vw;
          width: 76vw;
          height: 5vh;
          border-bottom: $border-set;
        }

        .others {
          z-index: 2;
          padding-top: 7vh;
          width: 76vw;
          .sizear {
            width: 76vw;
            .sizear-title {
              font-size: 3.3vw;
              font-weight: 900;
            }
            .sizear-middle {
              font-size: 2.5vw;
              font-weight: bold;
              span {
                margin-left: 0.5vw;
              }
            }
            .sizear-bottom {
              font-size: 1.5vw;
              color: $font-color;
            }
            img {
              z-index: 2;
            }
          }
          .character {
            width: 76vw;
            padding-top: 16vh;
            .character-title {
              font-size: 3.3vw;
              font-weight: bold;
            }
            .character-container {
              display: flex;
              .wagyu {
                width: 38vw;
                img {
                  z-index: 2;
                }
                .wagyu-name {
                  font-size: 2.3vw;
                  font-weight: bold;
                }
                .wagyu-link {
                  width: 30vw;
                  font-size: 2.3vw;
                  font-weight: bold;
                  border-bottom: 1px solid #000;
                }
              } //wagyu
              .nanichu {
                width: 38vw;
                img {
                  z-index: 22;
                }
                .nanichu-name {
                  font-size: 2.3vw;
                  font-weight: bold;
                }
                .nanichu-link {
                  width: 30vw;
                  font-size: 2.3vw;
                  font-weight: bold;
                  border-bottom: 1px solid #000;
                }
              } //nanichu
            } //character-container
          } //character
        } //others
      } //main-contents

      .line-space {
        margin: 0 auto 0 20vw;
        width: 76vw;
        height: 5vh;
        border-bottom: $border-set;
      }

      // .asobi {
      //   /*wakuzawa-no-asobi-------------------------------------*/
      //   margin: 0 0 6vh 18vw;
      //   padding: 4vh 0 0 2vw;
      //   width: 80vw;
      //   background-color: #000;
      //   position: relative;
      //   z-index: 9500;
      //   & * {
      //     color: #fff;
      //     font-weight: bold;
      //   }
      //   .asobi-logo {
      //     width: 40vw;
      //     background: #000;
      //   }
      //   .asobi-main {
      //     background-image: url(../image/asobi/space.png);
      //     background-size: cover;
      //     background-attachment: fixed; /*背景固定*/
      //     .asobi-detail {
      //       margin: 5vh 0;
      //       padding-top: 3vh;
      //       color: #fff;
      //       font-size: 1.5vw;
      //       font-weight: bold;
      //     } //asobi-detail
      //     .asobi-container {
      //       display: flex;
      //       flex-wrap: wrap;
      //       .asobi-item {
      //         width: 24vw;
      //         margin-bottom: 4vh;
      //         iframe {
      //           width: 24vw;
      //           height: 13.5vw;
      //         }
      //         .asobi-title-container {
      //           font-size: 1.5vw;
      //           display: flex;
      //           justify-content: space-between; /*両端揃えて均等配置*/
      //         }
      //         .asobi-btn-container {
      //           margin-top: calc(6vw - 24px);
      //           display: flex;
      //           justify-content: space-between; /*両端揃えて均等配置*/
      //           .start-ar {
      //             width: calc(24vw - 96px);
      //             position: relative;
      //             img {
      //               position: absolute;
      //               bottom: 0;
      //             }
      //           }
      //           .sns-btn-container {
      //             width: 96px;
      //             display: flex;
      //             align-items: flex-end; /*snsボタンは下寄せ*/
      //             justify-content: end; /*右寄せ*/
      //             a {
      //               width: 30px;
      //               padding-left: 2px;
      //               position: relative;
      //               img {
      //                 position: absolute;
      //                 bottom: 0;
      //               }
      //             }
      //           } //sns-btn-container
      //         } //asobi-btn-container
      //       } //asobi-item
      //       .space {
      //         width: 2vw;
      //       }
      //     } //asobi-container
      //   } //asobi-main
      // } //asobi

      .contact {
        @include background;
        margin: 15vh auto 10vh 20vw;
        padding-top: 25vh;

        .contact-btn {
          margin-bottom: 3vh;
          height: 6vh;
          width: 20vw;
          background-color: #000;
          opacity: 0.8;
          border-radius: 4px;
          cursor: pointer;
          box-shadow: 0 5px rgb(41, 41, 41);

          &:hover {
            opacity: 1;
          }

          &:active {
            position: relative;
            top: 5px;
            box-shadow: none;
          }

          a {
            height: 6vh;
            width: 20vw;
            line-height: 6vh;
            text-align: center;
            color: #fff;
            font-size: 1.5vw;
            font-weight: bold;
          }
        } //contact-btn
        .contact-message {
          margin-bottom: 30vh;
          font-size: 1.2vw;
          color: $font-color;
        }
        .campany-info {
          width: 76vw;
          text-align: right;
          font-size: 1vw;
          color: $font-color;
          span {
            margin-right: 0.5vw;
          }
          .newline {
            display: none;
          }
        }
      } //contact
      .footer {
        height: 8vh;
        width: 76vw;
        background-color: #fff;
        text-align: right; /*右寄せ*/
        line-height: 6vh; /*中段寄せ*/
        border-top: 1px solid gray;
        position: fixed;
        top: 92vh;
        left: 20vw;
        z-index: 9000;
      } //footer
      .smf-contact-btn {
        display: none;
      }
      .btm-nav {
        display: none;
      }
    } //main

    .start {
      /*トップのアニメーション*/
      background: #fff;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 9000;
      p {
        position: fixed;
        left: 75vw;
        top: 80vh;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 9999;
        width: 30vw;
        img {
          width: 30vw;
        }
      } //start p
    } //start
  } //body
} //html

@media (max-width: 600px) {
  /*----------------------------------------------------------------------------------------*/
  /* 共通部分 */
  html {
    body {
      display: block;

      header {
        display: none;
      } //header

      main {
        .top-box {
          height: 10vh;
          width: 100vw;
          left: 0;

          .smf-logo {
            display: block;
            height: 10vh;
            padding: 3vh 5vw 2vh 5vw;
            img {
              height: 5vh;
            }
          }
        } //top-box

        .main-contents {
          margin: 0;
          padding: 10vh 0 0 0;
          width: 100vw;
          position: relative; /**/
          background: none;

          .concept-title {
            /*concept*/
            @include side-space;
            padding-top: 10vh;
            font-size: 12vw;
            line-height: 14vw;
          }

          .concept-detail {
            @include side-space;
            padding-bottom: 18vh;
            margin-top: 10vh;
            margin-bottom: 8vh;
            font-size: 4vw;
            line-height: 5vw;
            border-bottom: none;
          }

          .line-space {
            margin-left: 2.5vw;
            width: 95vw;
            height: 1px;
            border-bottom: 1px solid #000;
          }
          /*concept*/

          @mixin servuce-box-s {
            width: 60vw;
            height: 60vw;
            opacity: 0.8;
          }
          @mixin service-title-s {
            padding: 8vw 1vw 1vw 1vw;
            font-size: 4.5vw;
            font-weight: bold;
          }
          @mixin service-middle-s {
            padding: 0 1vw 0 1vw;
            font-size: 3vw;
            font-weight: bold;
          }
          @mixin service-detail-s {
            padding: 0 1vw 2vw 1vw;
            font-size: 1vw;
            font-weight: bold;
          }

          .service {
            @include side-space;
            padding-top: 10vh;
            height: 120vh;
            width: 90vw;
            .service-top {
              display: block;
              padding: 1vh 10vw 1vh 0;
              height: 5vh;
              border-bottom: 1px solid #000;
            }

            .produce-box {
              @include servuce-box-s;
              background-color: #555;
              position: relative;
              top: 114vw;
              left: 28.3vw;
              .produce-title {
                @include service-title-s;
                color: #fff;
              }
              .produce-middle {
                @include service-middle-s;
                color: #fff;
              }
              .produce-detail {
                @include service-detail-s;
                color: #fff;
              }
            } //produce-box
            .design-box {
              @include servuce-box-s;
              background-color: #939393;
              position: relative;
              top: 2vw;
              left: 14.1vw;

              .design-title {
                @include service-title-s;
                color: #fff;
              }
              .design-middle {
                @include service-middle-s;
                color: #fff;
              }

              .design-detail {
                @include service-detail-s;
                color: #fff;
              }
            } //design-box
            .planning-box {
              @include servuce-box-s;
              background-color: #ededed;
              position: relative;
              top: -110vw;
              left: 0;

              .planning-title {
                @include service-title-s;
              }
              .planning-middle {
                @include service-middle-s;
              }
              .planning-detail {
                @include service-detail-s;
              }
            } //planning-box
          } //service

          .header-space {
            padding-top: 10vh;
            height: 1vh;
          }

          .package-top {
            display: block;
            margin: 0 5vw 4vh 5vw;
            padding: 1vh 10vw 1vh 0;
            height: 5vh;
            border-bottom: 1px solid #000;
          }

          .package-message {
            width: 80vw;
            height: 8vw;
            line-height: 8vw;
            font-size: 5vw;
            span {
              font-size: 3vw;
            }
          }

          @mixin commodity-container-s {
            width: 95vw;
            margin: 0 2.5vw;
            height: 110vw;
            margin-bottom: 5vh;
            display: block;
          }
          @mixin comodity-img-s {
            margin: 0 2.5vw;
            width: 90vw;
            height: 50vw;
          }
          @mixin comodity-massage-s {
            margin: 0 2.5vw;
            width: 90vw;
            height: 55vw;
            position: relative;
          }
          @mixin commodity-title-s {
            margin-bottom: 1vw;
            font-size: 8vw;
            font-weight: 900;
          }
          @mixin commodity-middle-s {
            margin-bottom: 1vw;
            font-size: 3.5vw;
            font-weight: bold;
          }
          @mixin commodity-bottom-s {
            margin-bottom: 1vw;
            font-size: 3vw;
            font-weight: bold;
            color: $font-color;
          }
          @mixin commodity-link-s {
            margin: 0 0 4vw auto;
            width: 60vw;
            font-size: 5vw;
            font-weight: bold;
            text-align: right;
            border-bottom: 1px solid #000;
          }

          .menur-container {
            /*menuR---------------------------------------*/
            @include commodity-container-s;
            img {
              @include comodity-img-s;
            }

            .menur-message {
              @include comodity-massage-s;
              .menur-title {
                @include commodity-title-s;
              }
              .menur-middle {
                @include commodity-middle-s;
              }
              .menur-bottom {
                @include commodity-bottom-s;
              }
              .menur-link {
                @include commodity-link-s;
              }
            } //menur-message
          } //menur-container

          .dressr-container {
            /*dressR-----------------------------------------*/
            @include commodity-container-s;
            img {
              @include comodity-img-s;
            }

            .dressr-message {
              @include comodity-massage-s;
              .dressr-title {
                @include commodity-title-s;
              }
              .dressr-middle {
                @include commodity-middle-s;
              }
              .dressr-bottom {
                @include commodity-bottom-s;
              }
              .dressr-link {
                @include commodity-link-s;
              }
            } //dressr-message
          } //dressr-container

          .catalogue-container {
            /*catalogue----------------------------------------------*/
            @include commodity-container-s;
            height: 120vw;
            padding-bottom: 10vw;
            // border-bottom: 1px solid #000;
            img {
              @include comodity-img-s;
            }

            .catalogue-message {
              @include comodity-massage-s;
              .catalogue-title {
                @include commodity-title-s;
              }
              .catalogue-middle {
                @include commodity-middle-s;
              }
              .catalogue-bottom {
                @include commodity-bottom-s;
              }
              .catalogue-link {
                @include commodity-link-s;
              }
            } //catalogue-message
          } //catalogue-container

          .others {
            z-index: 2;
            padding-top: 10vh;
            width: 95vw;
            margin: 0 2.5vw;
            display: block;
            .sizear {
              width: 90vw;
              margin: 0 2.5vw;
              .sizear-title {
                font-size: 9vw;
                font-weight: 900;
              }
              .sizear-middle {
                font-size: 5vw;
                font-weight: bold;
              }
              .sizear-bottom {
                font-size: 3vw;
                font-weight: bold;
              }
              img {
                z-index: 2;
                width: 90vw;
              }
            }
            .character {
              width: 90vw;
              margin: 0 2.5vw;
              padding-top: 16vh;
              .character-title {
                font-size: 9vw;
                font-weight: 900;
              }
              .character-container {
                display: flex;
                .wagyu {
                  width: 45vw;
                  img {
                    z-index: 22;
                  }
                  // .wagyu-name {
                  //   font-size: 5vw;
                  //   font-weight: bold;
                  // }
                  .wagyu-link {
                    padding-top: 2vh;
                    width: 44vw;
                    font-size: 4vw;
                    font-weight: bold;
                  }
                } //wagyu
                .nanichu {
                  width: 45vw;
                  padding-top: 0;
                  img {
                    z-index: 22;
                  }
                  // .nanichu-name {
                  //   font-size: 5vw;
                  //   font-weight: bold;
                  // }
                  .nanichu-link {
                    padding-top: 2vh;
                    width: 44vw;
                    font-size: 4vw;
                    font-weight: bold;
                  }
                } //nanichu
              } //character-container
            } //character
          } //others
        } //main-contents

        // .asobi {
        //   margin: 10vh 0 0 0;
        //   padding: 4vh 2.5vw 0 2.5vw;
        //   width: 100vw;
        //   position: relative;

        //   z-index: 500;
        //   .asobi-logo {
        //     width: 95vw;
        //     margin: 2vh 0;
        //   }
        //   .asobi-main {
        //     .asobi-detail {
        //       margin: 5vh 0;
        //       padding-top: 3vh;
        //       color: #fff;
        //       font-size: 4vw;
        //       font-weight: bold;
        //     } //asobi-detail
        //     .asobi-container {
        //       .asobi-item {
        //         width: 95vw;
        //         margin-bottom: 4vh;
        //         margin-top: 4vh;
        //         iframe {
        //           width: 95vw;
        //           height: 53.4vw;
        //         }
        //         .asobi-title-container {
        //           font-size: 8vw;
        //         }
        //         .asobi-btn-container {
        //           margin-top: calc(24vw - 25px);
        //           .start-ar {
        //             width: 71vw;
        //             a {
        //               img {
        //                 width: 59vw;
        //                 position: absolute;
        //                 bottom: 0;
        //               }
        //             }
        //           }
        //           .sns-btn-container {
        //             width: 36vw;
        //             display: flex;
        //             justify-content: space-between; /*両端揃えて均等配置*/
        //             a {
        //               width: 10vw;
        //               min-width: 30px;
        //               padding-left: 2vw;
        //               img {
        //                 width: 10vw;
        //                 min-width: 30px;
        //                 position: absolute;
        //                 bottom: 0;
        //               }
        //             }
        //           } //sns-btn-container
        //         } //asobi-btn-container
        //       } //asobi-item
        //       .space {
        //         width: 2vw;
        //       }
        //     } //asobi-container
        //   } //asobi-main
        // } //asobi

        .contact {
          background: none;
          width: 90vw;
          margin: 10vh 2.5vw 0 2.5vw;
          padding-top: 10vh;

          .contact-btn {
            margin-bottom: 3vh;
            height: 6vh;
            width: 70vw;

            a {
              width: 70vw;
              font-size: 5vw;
            }
          } //contact-btn
          .contact-message {
            margin-bottom: 30vh;
            font-size: 5vw;
          }
          .campany-info {
            width: 90vw;
            text-align: right;
            font-size: 4vw;
            .newline {
              display: block;
            }
          }
        } //contact

        .footer {
          position: static;
          margin: 2vh 2.5vw 0 2.5vw;
          padding-bottom: 12vh;
          height: 8vh;
          width: 95vw;
          text-align: right; /*右寄せ*/
          line-height: 8vh; /*中段寄せ*/
          border-top: 1px solid gray;
        } //footer

        /*以下、スマホのみ出現*/
        .smf-contact-btn {
          display: block; /*スマホで出現*/
          height: 30px;
          width: 110px;
          background-color: #000;
          opacity: 0.8;
          border-radius: 4px;
          cursor: pointer;
          box-shadow: 0 5px rgb(41, 41, 41);
          position: fixed;
          top: 80vh;
          left: 68vw;
          z-index: 50;

          &:hover {
            opacity: 1;
          }

          &:active {
            position: relative;
            top: 5px;
            box-shadow: none;
          }

          a {
            img {
              width: 96px;
              position: absolute; /*縦横中央寄せ*/
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
            }
          }
        } //contact-btn

        .btm-nav {
          display: block; /*スマホで出現*/
          width: 100vw;
          height: 9vh;
          padding: 0;
          background: #fff;
          z-index: 50;
          position: fixed;
          bottom: 0;
          left: 0;
          ul {
            display: flex;
            justify-content: space-between;
            li {
              width: 25vw;
              a {
                width: 25vw;
                padding: 7vw 3vw;
                img {
                  width: 19vw;
                }
              }
            }
          } //ul
        } //btm-nav
      } //main

      .start {
        /*トップのアニメーション*/
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 9000;
        p {
          position: fixed;
          left: 50vw;
          top: 50vh;
          transform: translate(-50%, -50%);
          display: none;
          z-index: 9999;
          width: 70vw;
          img {
            width: 70vw;
          }
        } //start p
      } //start
    } //body
  } //html
} //media
